@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Colors */
  --color-maroon: #800000;

  /* Font Sizes */
  --text-base: 1.5rem;

  /* Fonts */
  --font-fatface: "Greater Theory", sans-serif;
}

@layer utility {
  @font-face {
    font-family: "Greater Theory";
    /* font-style: normal;
    font-weight: 200 700;
    font-display: swap; */
    src: url("/fonts/greater-theory.otf") format("opentype");
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

html {
  width: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: var(--text-base);
  font-family: Arial, Helvetica, sans-serif;
}

.word h1 {
  font-size: 5vw;

  @media screen and (max-width: 1000px) {
    font-size: 8vw;
  }

  @media screen and (max-width: 680px) {
    font-size: 10vw;
  }
}

#logo-title {
  margin-bottom: -8px;
}

.tagline {
  font-size: 1.5rem;
  margin-bottom: 0;

  @media screen and (max-width: 680px) {
    font-size: 1.25rem;
  }
}

.featured {
  font-size: 1.5rem;
  margin-top: -16em;

  @media screen and (max-width: 680px) {
    margin-top: -7.5em;
  }
}

.mask-clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.img:first-child {
  opacity: 1;
}

.images.stacked-container {
  position: absolute;
  left: 1.25em;
  bottom: 2em; 
  width: auto;
  height: auto; 
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  gap: 0.5em; 
  transform: none;
  will-change: transform;

  @media screen and (max-width: 1000px) {
    top: 42vh;
    flex-direction: row-reverse; 
  }

  @media screen and (max-width: 680px) {
    top: 37vh;
    left: 0;
    flex-direction: row-reverse; 
  }
}

.img.stacked {
  position: relative;
  width: 150px;
  height: 100px;
  transform: none;
  top: auto;
  left: auto;
  opacity: 1;
  will-change: transform;
}

.site-info p {
  width: "100%";
}

/* .site-info p.copy {
  font-size: 1.5rem;
} */

.site-info:nth-child(2) {
  display: flex;
}

#address, #socials {
  flex: 1;
}
#address p, #socials p {
  line-height: 1.25;
}

.tagline, .word, .nav-item, .line, #cover-image {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.tageline,
.word h1,
.word p,
.nav-item p,
.site-info h2,
.line span, 
.line p {
  position: relative;
  will-change: transform;
}

.site-info h1,
.line span {
  display: flex;
  transform: translateY(100%);
}

.tageline,
.word h1,
.word p,
.nav-item p, 
.line p,
.site-info.col {
  transform: translateY(150%);
}

.discover {
  @media screen and (min-width: 700px) and (max-width: 900) {
    margin-top: 3rem;
  }
}

.banner-left-clip-path {
  clip-path: polygon(0 0, 100% 0%, 50% 100%, 0 100%);
}
.banner-right-clip-path {
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0 100%);
}

.section-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 2rem 0;
}

.carousel .list .item:nth-child(1) {
  position: absolute;
  top: 0;
  border-radius: 0;
  width: 100%;
  height: 100%;  
  box-shadow: none;
  border: none;
}

.carousel .list .item:nth-child(2) {
  left: 67%
}
.carousel .list .item:nth-child(3) {
  left: calc(67% + 200px);
}

.carousel .list .item:nth-child(4) {
  left: calc(67% + 400px);
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}



